.card {
  margin: 20px auto;
  background-color: #666666;
  color: white;
  text-align: center;
  line-height: 25px;
  box-shadow: 0px 0px 6px 0px #b1b0ae;
  max-width: 500px;
}

.card .imagen-container img {
  max-width: 100%;
}
.card .text-container {
  padding: 10px 20px;
}

.card .text-container .nombre-hotel {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

.card .text-container .descripcion {
  margin-bottom: 10px;
}
.card .text-container .boton-ingresa {
  border-color: #960606;
  color: white;
  font-size: 20px;
  background-color: #a51515;
  text-decoration: none;
  padding: 5px 20px;
}
.card .text-container .servicios {
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card {
    margin: 20px 10px;
    flex: 1 0 300px;
  }
}
