{{#> layouts/base title="Home" hotel=hotel }}

  {{#*inline "main-content-block"}}
    {{#with hotel}}
      <p>{{nombre}}</p>
      <p>{{descripcion_home}}</p>
    {{/with}}
  {{/inline}}

{{/layouts/base}}