<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} | HotelApp </title>
    <link rel="stylesheet" href="/css/css-reset.css">
    <link rel='stylesheet' href='/css/base/base.css' />
    <script src="/js/nav.js" defer></script>

    {{#> head-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
  </head>
  <body itemscope itemtype="https://schema.org/Hotel">
    <header>
        {{> header/header hotel=hotel}}
    </header>
    <nav id="side-nav">
        {{> nav/nav hotel=hotel}}
    </nav>
    <main>
      {{#> main-content-block}}
        {{!-- Hero content goes here. --}}
      {{/main-content-block}}
    </main>
    <footer>
        {{> footer/footer hotel=hotel }}
    </footer>
    
    {{#> modal-block}}
    {{/modal-block}}

    <div id="toast"></div>
    <div id="loader">
      <span></span>
    </div>

    {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
  </body>
</html>