<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} | HotelApp </title>
    <link rel="stylesheet" href="/css/css-reset.css">
    <link rel="stylesheet" href="/css/base/base-backend.css">
    <script src="/js/token.js"></script>
    <script src="/js/nav-backend.js" defer type="module"></script>
    <script src="/js/modal-backend.js" defer type="module"></script>

    {{#> head-block}}
      {{!-- Scripts/CSS que puedan haber. --}}
    {{/head-block}}
  </head>
  <body>
    <header>
        {{> header/headerBackend }}
    </header>
    <nav id="side-nav">
        {{> nav/navBackend }}
    </nav>
    <main>
      {{#> main-content-block}}
        {{!-- Contenido Principal --}}
      {{/main-content-block}}
    </main>

    {{#> modals-block}}
      {{!-- Modales que puedan haber --}}
    {{/modals-block}}

    <div id="toast"></div>
    <div id="loader">
      <span></span>
    </div>

  </body>
</html>