@import 'header-backend.css';
@import 'nav-backend.css';
@import 'form.css';
@import 'modal.css';
@import 'table.css';

@font-face {
  font-family: Trip Sans VF;
  src: url(../../fonts/TripSans-VF.woff2);
}
@font-face {
  font-family: Trip Sans;
  src: url(../../fonts/TripAdvisor_Regular.woff2);
}

body {
  font-family: 'Trip Sans VF', 'Trip Sans', 'Roboto', sans-serif;
}
body.noscroll {
  max-height: 100%;
  overflow: hidden;
}
.hide {
  display: none !important;
}

main {
  margin: 3%;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.icon24 {
  width: 24px;
  margin: 0 2.5px;
}
img.icon24.actions:hover {
  background-color: lightgrey;
}

#toast {
  visibility: hidden;
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
}
#toast.active {
  visibility: visible;
  display: flex;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}
#toast.success {
  background-color: #4caf50;
}
#toast.error {
  background-color: #ff5252;
}

#loader {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: flex-start;
  align-items: flex-start;
}

#loader.active {
  display: flex;
}

#loader span {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
  user-select: none;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}
.button-container button {
  background: none;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  cursor: pointer;
  user-select: none;
}

.button-container button.green {
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.9);
  box-shadow: 0px 0px 3px 0px green;
}
.button-container button.red {
  border: 1px solid red;
  background-color: rgba(128, 0, 0, 0.9);
  box-shadow: 0px 0px 3px 0px red;
}

.button-container button:disabled {
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid black;
  box-shadow: 0px 0px 3px 0px grey;
  cursor: not-allowed;
}

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

input[type='date'] {
  overflow: unset;
}

strong {
  font-weight: 700;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
