table {
  width: 100%;
}

tr:nth-of-type(even) {
  background: #eee;
}
tr:nth-of-type(even) > td {
  border-bottom: 1px solid black;
}

thead,
tbody {
  border: 2px solid black;
}

thead {
  background-color: rgba(0, 128, 0, 0.2);
  font-size: 18px;
  height: 60px;
}
th {
  font-weight: 700;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
}

th,
td {
  border: 1px solid black;
}
td {
  padding: 5px;
  vertical-align: middle;
}
td.no-data {
  text-align: center;
  font-weight: 700;
  justify-content: center;
}

.nowrap {
  display: flex;
}

td span.thbefore {
  display: none;
}

.actions {
  background: none;
  border: 1px solid black;
  padding: 3px;
  margin: 0;
  cursor: pointer;
}

a.actions {
  border: none;
  text-decoration: none;
  color: #0049d1;
}
.actions img {
  vertical-align: middle;
}
.actions:not(:last-child) {
  margin-right: 5px;
}

button.actions.blue:hover {
  background-color: rgba(101, 137, 255, 0.5);
}
button.actions.yellow:hover {
  background-color: rgba(255, 207, 0, 0.5);
}
button.actions.red:hover {
  background-color: rgba(255, 101, 101, 0.5);
}

.action-column {
  display: table-cell !important;
  width: 1%;
}

td.text-center {
  text-align: center;
}
.action-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.action-flex div:first-child {
  margin-bottom: 5px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.pagination .user-actions {
  display: flex;
}
.pagination .user-actions select {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  background-color: white;
  user-select: none;
}
.pagination .user-actions .pagination-controls {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
}
.pagination .user-actions .pagination-controls button {
  cursor: pointer;
  background: none;
  margin: 0 1px;
  padding: 5px;
  border: solid 1px #d7d7d7;
  border-radius: 2px;
  color: #7d7d7d;
  text-align: center;
  font-size: 1rem;
}
.pagination .user-actions .pagination-controls button.active,
.pagination .user-actions .pagination-controls button:hover {
  background-color: black;
  color: white;
}
.pagination .user-actions .pagination-controls .pagination-numbers {
  display: flex;
  flex-wrap: nowrap;
}
.leyenda-container {
  text-align: right;
  position: relative;
}
.leyenda-container .icon-info {
  width: 36px;
  cursor: pointer;
  user-select: none;
}

.leyenda-container .leyenda {
  display: none;
  position: relative;
  text-align: left;
}

.leyenda-container .icon-info:hover + .leyenda {
  display: block;
  position: absolute;
  right: 43px;
  top: -19.5px;
  background-color: #2196f3;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
}

.leyenda:after {
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  background: #2196f3;
  position: absolute;
  box-shadow: 4px 4px 6px -3px rgb(0 0 0 / 50%);
  top: 32px;
  right: -5px;
}

.leyenda-container .leyenda img {
  width: 16px;
  filter: invert(1);
}
.leyenda-container .leyenda span {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  table,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  td span.thbefore {
    display: inline-block;
    font-weight: 700;
    flex: 0 0 20%;
    flex-wrap: wrap;
    text-align: left;
  }

  th.action-column {
    display: block !important;
  }
  td.action-column {
    display: flex !important;
    width: auto;
  }
  tr:nth-of-type(even) > td {
    border-bottom: 1px solid white;
  }
}

@media screen and (max-width: 1100px) and (min-width: 950px) {
  th:nth-child(n + 7),
  td:nth-child(n + 7) {
    display: none;
  }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
  th:nth-child(n + 6),
  td:nth-child(n + 6) {
    display: none;
  }
}
@media screen and (max-width: 850px) and (min-width: 768px) {
  th:nth-child(n + 5),
  td:nth-child(n + 5) {
    display: none;
  }
}
