<button>Sandwich</button>
<ul id='nav-principal'>
  <li><a href='/'>Inicio</a></li>
  <li><a href='/habitaciones'>Habitaciones</a></li>
  <li><a href='/servicios'>Servicios y Galeria</a></li>
  <li><a href='/ubicacion'>Ubicacion</a></li>
  <li><a href='/contacto'>Contacto</a></li>
</ul>