<nav id="nav-superior">
    <ul>
        <li><a href="/backend/general">General</a></li>
        <li><a href="/backend/fotos">Fotos</a></li>
        <li><a href="/backend/habitaciones">Habitaciones</a></li>
        <li><a href="/backend/reservas">Reservas</a></li>
        <li><a href="/backend/paypertop">PayPerTop</a></li>
        <li><a href="/backend/mensajes">Mensajes</a></li>
        <li><a href="/backend/configuracion">Configuracion</a></li>
    </ul>
</nav>