{{#> layouts/baseBackend title="Config. General" }}
  {{#*inline "head-block"}}
    <link rel="stylesheet" href="/css/base/map.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="/js/general.js" type="module" defer></script>
  {{/inline}}

  {{#*inline "main-content-block"}}
    <h1>Configuración General</h1>
    <form id="form-update-hotel">
      <fieldset>
        <legend>Modificar Hotel:</legend>
        <div class="form-content">
          <div class="form-content-fixed">
            <div class="control-input input-validator-container">
              <label for="update-estado" class="required">Estado:</label>
              <select name="activo" id="update-estado" required>
                <option value="false">Inactivo</option>
                <option value="true">Activo</option>
              </select>
              <ul></ul>
            </div>
            <div class="control-input input-validator-container">
              <label for="update-descripcion-home" class="required"
                >Descripcion Home:</label
              >
              <textarea
                name="descripcion_home"
                id="update-descripcion-home"
                rows="5"
                required
              ></textarea>
              <ul></ul>
            </div>
            <div class="control-input input-validator-container">
              <label for="update-descripcion-ubicacion" class="required"
                >Descripcion Ubicación:</label
              >
              <textarea
                name="descripcion_ubi"
                id="update-descripcion-ubicacion"
                rows="5"
                required
              ></textarea>
              <ul></ul>
            </div>
            <div class="container-cuatriple">
              <div class="container-doble">
                <div class="control-input input-validator-container">
                  <label for="update-nombre" class="required">Nombre:</label>
                  <input
                    type="text"
                    name="nombre"
                    id="update-nombre"
                    required
                  />
                  <ul></ul>
                </div>
                <div class="control-input input-validator-container">
                  <label for="update-email" class="required">Email:</label>
                  <input
                    type="email"
                    name="email"
                    id="update-email"
                    required
                  />
                  <ul></ul>
                </div>
              </div>
              <div class="container-doble">
                <div class="control-input input-validator-container">
                  <label for="update-telefono-1" class="required"
                    >Telefono 1:</label
                  >
                  <input
                    type="text"
                    name="telefono_1"
                    id="update-telefono-1"
                    required
                  />
                  <ul></ul>
                </div>
                <div class="control-input input-validator-container">
                  <label for="update-telefono-2">Telefono 2:</label>
                  <input
                    type="text"
                    name="telefono_2"
                    id="update-telefono-2"
                  />
                  <ul></ul>
                </div>
              </div>
            </div>
            <div class="control-input input-validator-container">
              <label for="update-direccion" class="required"
                >Dirección:</label
              >
              <input
                type="text"
                name="direccion"
                id="update-direccion"
                required
              />
              <ul></ul>
            </div>
            <div class="container-doble">
              <section class="mapa" id="mapa"></section>
              <div>
                <div class="control-input input-validator-container">
                  <label for="update-latitud" class="required">Latitud:</label>
                  <input
                    type="text"
                    name="latitude"
                    id="update-latitud"
                    required
                    readonly
                  />
                  <ul></ul>
                </div>
                <div class="control-input input-validator-container">
                  <label for="update-longitud" class="required"
                    >Longitud:</label
                  >
                  <input
                    type="text"
                    name="longitude"
                    id="update-longitud"
                    required
                    readonly
                  />
                  <ul></ul>
                </div>
              </div>
            </div>
            <div class="container-cuatriple">
              <div class="container-doble">
                <div class="control-input input-validator-container">
                  <label for="update-facebook">Facebook:</label>
                  <input
                    type="text"
                    name="facebook"
                    id="update-facebook"
                  />
                  <ul></ul>
                </div>
                <div class="control-input input-validator-container">
                  <label for="update-twitter">Twitter:</label>
                  <input
                    type="text"
                    name="twitter"
                    id="update-twitter"
                  />
                  <ul></ul>
                </div>
              </div>
              <div class="container-doble">
                <div class="control-input input-validator-container">
                  <label for="update-instagram">Instagram:</label>
                  <input
                    type="text"
                    name="instagram"
                    id="update-instagram"
                  />
                  <ul></ul>
                </div>
                <div class="control-input input-validator-container">
                  <label for="update-horario-contacto" class="required"
                    >Horario Contacto:</label
                  >
                  <input
                    type="text"
                    name="horario_contacto"
                    id="update-horario-contacto"
                    required
                  />
                  <ul></ul>
                </div>
              </div>
            </div>
            <div class="button-container">
              <button type="submit" class="btn-submit green">Enviar</button>
            </div>
          </div>
      </fieldset>
    </form>
    <form id="form-update-logo-hotel" enctype="multipart/form-data">
      <fieldset>
        <legend>Modificar Logo Hotel:</legend>
        <div class="form-content">
          <div class="form-content-fixed">
            <div class="control-input-upload input-validator-container upload-control">
              <input type="file" id="update-logo" name="logo"
                    accept="image/*" required hidden>
              <div class="drop-zone">
                <div>
                  <img class="upload-icon" src="/icons/upload-sign-svgrepo-com.svg">
                  <p><strong>Elija</strong> una imagen o <strong>arrastrela</strong> aquí.</p>
                </div>
                <div class="preview hide">
                  <img src="" alt="">
                  <small></small>
                </div>
              </div>
              <ul></ul>
            </div>
            <div class="button-container">
              <button type="submit" class="btn-submit green" disabled>Enviar</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend>Servicio/Instalación:</legend>
        <div class="form-content">
          <div class="form-content-fixed">
            <div class="button-container">
              <button
                type="button"
                class="open-modal green"
                data-target="modal-create"
              >
                Crear Servicio
              </button>
            </div>
            <section class="table-container">
              <div class="leyenda-container">
                <img class="icon-info" src="/icons/info-svgrepo-com.svg" alt="">
                <div class="leyenda">
                  <ul>
                    <li><img src="/icons/pencil-edit-button-svgrepo-com.svg" alt="icono-editar" class="icon24"><span>Actualizar Datos</span></li>
                    <li><img src="/icons/camera-svgrepo-com.svg" alt="icono-camara-actualizar" class="icon24"><span>Actualizar Icono</span></li>
                    <li><img src="/icons/trash-svgrepo-com.svg" alt="icono-basura-eliminar" class="icon24"><span>Eliminar</span></li>
                  </ul>
                </div>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Icono</th>
                    <th>Icono Path</th>
                    <th>Tipo</th>
                    <th class="action-column">Acción</th>
                  </tr>
                </thead>
                <tbody id="tbody-servicios">
                  
                </tbody>
              </table>
              <div class="pagination">
                <div class="table-text-pagination">
                </div>
                <div class="user-actions">
                  <select class="pagination-limit">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  <div class="pagination-controls">
                    <button class="first" value="1">&#171;</button>
                    <div class="pagination-numbers">
                    </div>
                    <button class="last">&#187;</button>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </fieldset>
    </form>
  {{/inline}}

  {{#*inline "modals-block"}}
    <section id="modal-create" class="modal">
      <form id="form-create-servicio">
        <fieldset>
          <legend>Agregar Servicio/Instalación:</legend>
          <button type="button" class="close-modal close-times">&times;</button>
          <div class="container-doble">
            <div class="control-input input-validator-container">
              <label for="new-servicio-nombre" class="required">Nombre:</label>
              <input
                type="text"
                name="nombre"
                id="new-servicio-nombre"
                required
              />
              <ul></ul>
            </div>
            <div class="control-input input-validator-container">
              <label for="new-servicio-tipo" class="required">Tipo:</label>
              <select name="servInstal" id="new-servicio-tipo" required>
                <option value="false">Servicio</option>
                <option value="true">Instalación</option>
              </select>
              <ul></ul>
            </div>
          </div>
          <div class="control-input-upload input-validator-container upload-control">
            <input type="file" id="upload-icon" name="icon_service"
                  accept="image/*" required hidden>
            <div class="drop-zone">
              <div>
                <img class="upload-icon" src="/icons/upload-sign-svgrepo-com.svg">
                <p><strong>Elija</strong> una imagen o <strong>arrastrela</strong> aquí.</p>
              </div>
              <div class="preview hide">
                <img src="" alt="">
                <small></small>
              </div>
            </div>
            <ul></ul>
          </div>
          <div class="button-container">
            <button type="submit" class="btn-submit green" disabled>
              Enviar
            </button>
          </div>
        </fieldset>
      </form>
    </section>
    <section id="modal-update" class="modal">
      <form id="form-update-servicio">
        <fieldset>
          <legend>Actualizar Servicio/Instalación:</legend>
          <button type="button" class="close-modal close-times">&times;</button>
          <input type="number" name="id" id="update-id" hidden />
          <div class="container-doble">
            <div class="control-input input-validator-container">
              <label for="update-servicio-nombre" class="required"
                >Nombre:</label
              >
              <input
                type="text"
                name="nombre"
                id="update-servicio-nombre"
                required
              />
              <ul></ul>
            </div>
            <div class="control-input input-validator-container">
              <label for="update-servicio-tipo" class="required">Tipo:</label>
              <select name="servInstal" id="update-servicio-tipo" required>
                <option value="false">Servicio</option>
                <option value="true">Instalación</option>
              </select>
              <ul></ul>
            </div>
          </div>
          <div class="button-container">
            <button type="submit" class="btn-submit green">Actualizar</button>
          </div>
        </fieldset>
      </form>
    </section>
    <section id="modal-update-icon" class="modal">
      <form id="form-update-servicio-icon">
        <fieldset>
          <legend>Actualizar Icono Servicio/Instalación:</legend>
          <button type="button" class="close-modal close-times">&times;</button>
          <input type="number" name="id" id="update-icon-id" hidden />
          <div class="control-input-upload input-validator-container upload-control">
            <input type="file" id="update-icon" name="icon_service"
                  accept="image/*" required hidden>
            <div class="drop-zone">
              <div>
                <img class="upload-icon" src="/icons/upload-sign-svgrepo-com.svg">
                <p><strong>Elija</strong> una imagen o <strong>arrastrela</strong> aquí.</p>
              </div>
              <div class="preview hide">
                <img src="" alt="">
                <small></small>
              </div>
            </div>
            <ul></ul>
          </div>
          <div class="button-container">
            <button type="submit" class="btn-submit green">Actualizar</button>
          </div>
        </fieldset>
      </form>
    </section>
    <section id="modal-delete" class="modal">
      <form id="form-delete">
        <fieldset>
          <legend class="red">Eliminar Servicio/Instalación</legend>
          <button type="button" class="close-modal close-times">&times;</button>
          <input type="number" name="id" id="delete-id" hidden />
          <p>
            ¿Está seguro que desea eliminar a <span id="data-quien"></span> ?
          </p>
          <div class="button-container">
            <button type="submit" class="btn-submit red">Eliminar</button>
          </div>
        </fieldset>
      </form>
    </section>
  {{/inline}}

{{/layouts/baseBackend}}