<botton id='sandwich'>
  <span></span>
  <span></span>
  <span></span>
</botton>
<a href='./general.html'>
  <img
    alt=''
    src='https://lenguayliteratura.org/proyectoaula/wp-content/uploads/2016/02/no-logo.jpg'
  />
</a>