<div>
  <botton id='sandwich'>
    <span></span>
    <span></span>
    <span></span>
  </botton>
  <a href='/{{hotel.nombre_uri}}' itemprop='url'>
    <img itemprop='logo' src='{{hotel.logo_path}}' alt='logo hotel' />
  </a>
</div>