<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} | HotelApp </title>
    <link rel="stylesheet" href="/css/base.css">
    {{#> head-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
  </head>
  <body>
    <header>
        {{> header/header }}
    </header>
    <nav>
        {{> nav/nav }}
    </nav>
    <main>
      {{#> main-content-block}}
        {{!-- Hero content goes here. --}}
      {{/main-content-block}}
    </main>
    <footer>
        {{> footer/footer }}
    </footer>


    {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
  </body>
</html>